.pantalla{
    width: 80px;
    border:10px;
    background-color: #0096c7;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 12px;
    cursor: pointer;
    margin-bottom: 10px;
}
.pantalla:hover{
    background-color: #2b545c;
}